@{
	ViewData["Title"] = "Log";
}}
@model Usuarios;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TransporteSahuayoAsp</title>
	<link href="~/lib/semantic-ui/semantic.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TransporteSahuayoAsp.styles.css" asp-append-version="true" />
	<script type="text/javascript" src="~/lib/semantic-ui/semantic.js"></script>
	<style>
		.general.text{
			color:white
			
		}
	</style>
</head>
<body style="background-color:gray">
	@if (TempData.ContainsKey("Exception"))
	{
		@Html.Raw(TempData["Exception"].ToString())
		;
	}
	<div class="ui raised very padded container text segment" style="background-color:black">
		<div class="ui center aligned container segment" style="background-color:black">
			<form method="post" action=@Url.Action("Index","Login")>
				<img class="ui centered medium image" src="~/lib/Images/Transportes_sahuayo.png" />
				<div class="fields">
					<div class="five wide field">
						<h2 class="general text centered">Inicio de Sesion</h2>
					</div>
				</div>
				<div class="fields">
					<div class="five wide field">
						<label class="general text">Usuario:</label>
					</div>
					<div class="five wide field">
						<input asp-for="Usuario" name="Usuario" required />
					</div>
				</div>
				<div class="fields">
					<div class="five wide field">
						<label class="general text">Contraseña:</label>
					</div>
					<div class="five wide field">
						<input asp-for="Contrasena" name="Contrasena" required />
					</div>
					<div class="five wide field">
					</div>
				</div>
				<div class="fields">
					<div class="five wide field">
						<button class="ui primary button" type="submit">Ingresar</button>
					</div>
				</div>
			</form>
		</div>
		
		
	</div>
	
</body>
</html>